.experience {
	border-radius: 1rem;
	padding: 1.4rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1.4rem;
}

.job-title {
	display: flex;
	margin: 0;
}

.job-title .dates {
	font-style: normal;
	font-weight: normal;
}

.job-title .dates .full {
	display: none;
}

.job-title .dates .short {
	display: inline;
}

.location {
	text-align: left;
	font-style: italic;
	margin-bottom: 0.5rem;
}

/* Media Queries */
@media only screen and (min-width: 0px) {
	.job-title .dates {
		font-size: 1.25rem;
	}

	.experience {
		flex-direction: column;
		align-items: center;
	}

	.job-title {
		flex-direction: column;
	}
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
	.job-title .dates {
		font-size: 1.5rem;
	}

	.experience {
		flex-direction: row;
	}

	.job-title {
		align-items: flex-start;
		text-align: left;
	}
}

@media only screen and (min-width: 1024px) {
	.job-title {
		flex-direction: row;
		justify-content: space-between;
	}

	.location {
		font-style: normal;
	}
}

@media only screen and (min-width: 1440px) {
	.job-title .dates .full {
		display: inline;
	}

	.job-title .dates .short {
		display: none;
	}
}
