.skills {
	border-radius: 1rem;
	padding: 1.4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 2.8rem;
}

.skills h2 {
	margin-top: auto;
	margin-bottom: auto;
}

.skills img {
	width: auto;
	height: 3rem;
}

.skills a {
	white-space: nowrap;
}

.skills a:hover .display-text {
	visibility: visible;
	opacity: 1;
}

.display-text {
	position: absolute;
	box-shadow: 0 0.25rem 0.4rem #00000057;
	padding: 0.5rem;
	border-radius: 0.5rem;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

/* Media Queries */
@media only screen and (min-width: 0px) {
	.display-text {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
	.display-text {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
