.about {
    border-radius: 1rem;
    padding: 1.4rem;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.4rem;
}

.about img {
    width: 20rem;
    height: auto;
}

/* Media Queries */
@media only screen and (min-width: 0) {}

@media only screen and (min-width: 375) {}

@media only screen and (min-width: 768) {}

@media only screen and (min-width: 1024px) {
    .about {
        flex-direction: row;
        text-align: left;
    }
}

@media only screen and (min-width: 1440px) {}
