/* Navigation */
.logo:hover {
	cursor: default;
}

/* Scroll Progress Bar */
.scroll-progress-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1rem;
	overflow: hidden;
	z-index: 1500;
}

.scroll-progress-bar {
	height: 100%;
	width: 0%;
}

/* Hamburger Menu */
.hamburger-menu {
	position: relative;
}

.hamburger-icon.open span:nth-child(2) {
	opacity: 0;
}

.menu-links {
	position: absolute;
	top: 100%;
	right: 0;
	width: fit-content;
	max-height: 0;
	overflow: hidden;
	border-radius: 0.5rem;
	box-shadow: 0 0.25rem 0.4rem #00000057;
	transition: max-height 0.3s ease-in-out;
}

.menu-links li a {
	display: block;
	padding: 0.8rem 1rem;
	text-decoration: none;
	border-bottom: 0.07rem solid #3a3a3a;
}

.menu-links.open {
	max-height: fit-content;
	padding: 1rem;
	border-radius: 0.5rem;
	z-index: 2000;
}

/* Media Queries */
@media only screen and (min-width: 0px) {
	.hamburger-icon.open span:nth-child(1) {
		transform: rotate(45deg) translate(0.2rem, 0.2rem);
	}

	.hamburger-icon.open span:nth-child(3) {
		transform: rotate(-45deg) translate(0.75rem, -0.75rem);
	}
}

@media only screen and (min-width: 375px) {

	.hamburger-icon.open span:nth-child(1) {
		transform: rotate(45deg) translate(0.35rem, 0.35rem);
	}

	.hamburger-icon.open span:nth-child(3) {
		transform: rotate(-45deg) translate(0.75rem, -0.75rem);
	}
}

@media only screen and (min-width: 768px) {
	.hamburger-icon.open span:nth-child(1) {
		transform: rotate(45deg) translate(0.5rem, 0.75rem);
	}

	.hamburger-icon.open span:nth-child(3) {
		transform: rotate(-45deg) translate(0.55rem, -0.8rem);
	}
}

@media only screen and (min-width: 1024px) {
	.nav-links {
		display: flex;
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1440px) {
}
