/* Media Queries */
@media only screen and (min-width: 0) {
}

@media only screen and (min-width: 375) {
}

@media only screen and (min-width: 768) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
