.contact {
    border-radius: 1rem;
    padding: 2rem;
    background-color: #1e1e21;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.contact img {
    height: auto;
}

.method {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.contact-form {
    border-radius: 1rem;
    padding: 2rem;
    background-color: #1e1e21;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-form input,
.contact-form textarea {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #27272a;
    border: 1px solid #444;
    color: whitesmoke;
    width: 100%;
    font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #a188d8;
    box-shadow: 0 0 0.25rem #a188d8;
}

.contact-form textarea {
    resize: vertical;
    min-height: 8rem;
}

.contact-form button {
    width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 0px) {
    .contact img {
        width: 3rem;
    }

    .method {
        width: 100%;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 375px) {
    .contact img {
        width: 4rem;
    }
}

@media only screen and (min-width: 768px) {
    .method {
        width: calc(50% - 1.5rem);
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .method {
        width: calc(20% - 1.5rem);
    }
}

@media only screen and (min-width: 1440px) {}
