/* Really Small Phone */
@media only screen and (max-width: 375px) {
    h1,
    .logo,
    .homeSubtitle {
        font-size: 1.5rem;
    }

    h2,
    .menu-links a,
    .job-title .dates {
        font-size: 1.25rem;
    }

    p,
    .display-text,
    .contact-form input,
    .contact-form textarea,
    .button {
        font-size: 1rem;
    }

    .homeTitle {
        font-size: 2.5rem;
    }

    .hamburger-icon {
        width: 2rem;
        height: 1.5rem;
    }

    .socials {
        width: 100%;
    }

    .project {
        width: calc(100% - 1rem);
    }

    .method {
        width: calc(100% - 1rem);
    }

    .experience {
        flex-direction: column;
        align-items: center;
    }

    .job-title {
        flex-direction: column;
    }

    .hamburger-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(0.2rem, 0.2rem);
    }
    
    .hamburger-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(0.75rem, -0.75rem);
    }
    
    .skills {
        gap: 2rem;
    }
}

/* Average Phone */
@media only screen and (min-width: 375px) {

    h1,
    .logo {
        font-size: 1.75rem;
    }

    h2,
    .menu-links a,
    .homeSubtitle {
        font-size: 1.5rem;
    }

    .homeTitle {
        font-size: 3rem;
    }

    .job-title .dates {
        font-size: 1.25rem;
    }

    .hamburger-icon {
        width: 2.75rem;
        height: 1.75rem;
    }

    .socials {
        width: 70%;
    }

    .method {
        width: calc(100% - 1rem);
    }

    .experience {
        flex-direction: column;
        align-items: center;
    }

    .job-title {
        flex-direction: column;
    }

    .hamburger-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(0.35rem, 0.35rem);
    }
    
    .hamburger-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(0.75rem, -0.75rem);
    }

    .skills {
        gap: 2rem;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    h1,
    .logo {
        font-size: 2rem;
    }

    h2,
    .homeSubtitle,
    .job-title .dates {
        font-size: 1.5rem;
    }

    .menu-links a {
        font-size: 1.75rem;
    }
    
    p,
    .display-text,
    .contact-form input,
    .contact-form textarea,
    .button {
        font-size: 1.2rem;
    }

    .homeTitle {
        font-size: 5rem;
    }

    .hamburger-icon {
        width: 2.5rem;
        height: 2rem;
    }

    .socials {
        width: 50%;
    }

    .project {
        width: calc(50% - 1rem);
    }

    .method {
        width: calc(50% - 1rem);
    }

    .experience {
        flex-direction: row;
        align-items: left;
    }

    .job-title {
        align-items: flex-start;
        text-align: left;
    }

    .hamburger-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(0.5rem, 0.75rem);
    }
    
    .hamburger-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(0.55rem, -0.8rem);
    }

    .skills {
        gap: 2rem;
    }
}

/* Average Desktop */
@media only screen and (min-width: 1024px) {
    h1,
    .logo {
        font-size: 2.5rem;
    }

    .socials {
        width: 40%;
    }

    .method {
        width: calc(20% - 1rem);
    }
    #desktop-nav {
        display: flex;
    }

    .nav-links {
        display: flex;
        font-size: 1.5rem;
    }

    #hamburger-nav {
        display: none;
    }

    .hamburger-menu, 
    .menu-links {
        display: none;
    }
    
    .about {
        flex-direction: row;
        text-align: center;
        padding: 2rem;
    }

    .experience {
        flex-direction: row;
        align-items: left;
    }

    .job-title {
        flex-direction: row;
        justify-content: space-between;
    }

    .location {
        font-style: normal;
    }

    .skills {
        gap: 2.5rem;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1440px) {
    .socials {
        width: 30%;
    }

    .method {
        width: calc(20% - 1rem);
    }

    .job-title .dates .full {
        display: inline;
    }
    
    .job-title .dates .short {
        display: none;
    }

    .skills {
        gap: 1rem;
    }
}
