/* Text */
body {
    background-color: whitesmoke;
}
h1 {
    font-size: 2rem;
    text-align: center;
    color: goldenrod;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

p {
    font-size: 1.2rem;
}

.text-content {
    flex: 1;
}

/* Top-Level Navigation */
nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: goldenrod;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rbg(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* Home */
.homeSubtitle {
    font-size: 1.5rem;
    text-align: center;
}

.homeTitle {
    font-size: 4rem;
}

/* About */
.about {
    border-radius: 1rem;
    padding: 1rem;
    width: 75%;
    margin: auto;
    text-align: left;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.about img {
    width: 35%;
    height: auto;
}

/* Projects */
#projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
    width: 75%;
    margin: auto;
}

.project {
    border: 0.1rem solid goldenrod;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: lightgoldenrodyellow;
    width: calc(50% - 2rem); /* Adjust for responsive design */
    box-sizing: border-box;
}

.project p {
    margin: 0.5rem 0;
}

.project a {
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* Experience */
.experience {
    border: 0.1rem solid goldenrod;
    border-radius: 1rem;
    padding: 2rem;
    width: 75%;
    margin: auto;
    background-color: lightgoldenrodyellow;    
    text-align: left;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.experience img {
    width: 10%;
    height: auto;
}

.job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.job-title .position {
    text-align: left;
    font-weight: bold;
}

.job-title .dates {
    text-align: right;
    font-style: normal;
    font-weight: normal;
}

/* Contact */
.contact {
    border: 0.1rem solid goldenrod;
    border-radius: 1rem;
    padding: 2rem;
    width: 75%;
    margin: auto;
    background-color: lightgoldenrodyellow;    
    text-align: left;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.contact img {
    width: 20%;
    height: auto;
}

.method {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 0.5rem;
}

/* Footer */
.footer {
    font-size: 1rem;
    text-align: center;
}

/* Resume Button */
.button {
    background-color: goldenrod;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
}

.button:hover {
    background-color: darkgoldenrod;
    color: white;
}

/* Centering the button */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Miscellaneous */
html {
    scroll-behavior: smooth;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
