@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text */
body {
    background-color: #27272a;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #a188d8;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    color: whitesmoke;
}

.text-content {
    flex: 1;
}



/* Top-Level Navigation */
nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    color: whitesmoke;
    background-color: #27272a;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #a188d8;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rbg(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}



/* Home */
.homeSubtitle {
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
}

.homeTitle {
    font-size: 5rem;
    color: #a188d8;
}

.socials {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 20%;
    margin: auto;
    background-color: #27272a;
    text-align: left;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.socials a {
    width: 25%;
    height: auto;
}

/* About */
.about {
    border-radius: 1rem;
    padding: 1rem;
    width: 75%;
    background-color: #1e1e21;
    margin: auto;
    text-align: left;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.about img {
    width: 35%;
    height: auto;
}



/* Projects */
#projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
    width: 75%;
    margin: auto;
}

.project {
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #1e1e21;
    width: calc(50% - 1rem);
    box-sizing: border-box;
}

.project p {
    margin: 0.5rem 0;
}

.project b {
    color: #a188d8;
}

.project a {
    text-decoration: none;
    color: #a188d8;
}

.project a:hover {
    text-decoration: underline;
}



/* Experience */
.experience {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 75%;
    margin: auto;
    background-color: #1e1e21;
    text-align: left;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.experience img {
    width: 10%;
    height: auto;
}

.job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: whitesmoke;
}

.job-title .position {
    text-align: left;
    font-weight: bold;
}

.job-title .dates {
    text-align: right;
    font-style: normal;
    font-weight: normal;
    color: whitesmoke;
}



/* Contact */
.contact {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 75%;
    margin: auto;
    background-color: #1e1e21;
    text-align: left;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.contact img {
    width: 25%;
    height: auto;
}

.method {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: calc(25% - 0.5rem);
    gap: 0.5rem;
}



/* Footer */
.footer {
    font-size: 1rem;
    background-color: #1e1e21;
    text-align: center;
}

.footer a {
    color: #a188d8;
}



/* Resume Button */
.button {
    background-color: #a188d8;
    border: none;
    border-radius: 1rem;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
}

.button:hover {
    background-color: rgb(48, 43, 62);
    color: whitesmoke;
}



/* Centering the button */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Miscellaneous */
html {
    scroll-behavior: smooth;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
