/* All sizing/spacing is based on a screen size of < 768px to optimize for smaller phones. Support for larger devices are listed at the bottom of this script, under "Media Queries." */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text */
body {
    background-color: #27272a;
}
h1 {
    font-size: 4rem;
    text-align: center;
    color: #a188d8;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

p {
    font-size: 2.5rem;
    color: whitesmoke;
}

.text-content {
    flex: 1;
}



/* Top-Level Navigation */
nav, 
.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 3rem;
    flex-wrap: wrap;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    color: whitesmoke;
    background-color: #27272a;
}

a {
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #a188d8;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #a188d8;
}

.logo {
    font-size: 4rem;
    text-align: center;
}

.logo:hover {
    cursor: default;
}



/* Home */
.homeSubtitle {
    font-size: 3rem;
    text-align: center;
    color: whitesmoke;
}

.homeTitle {
    font-size: 10rem;
    color: #a188d8;
}

.socials {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 50%;
    margin: auto;
    background-color: #27272a;
    text-align: left;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.socials a {
    width: 25%;
    height: auto;
}

/* About */
.about {
    border-radius: 1rem;
    padding: 1rem;
    width: 75%;
    background-color: #1e1e21;
    margin: auto;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.about img {
    width: 80%;
    height: auto;
}



/* Projects */
#projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
    width: 75%;
    margin: auto;
}

.project {
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #1e1e21;
    width: calc(100% - 1rem);
    box-sizing: border-box;
}

.project p {
    margin: 0.5rem 0;
}

.project b {
    color: #a188d8;
}

.project a {
    text-decoration: none;
    color: #a188d8;
}

.project a:hover {
    text-decoration: underline;
}



/* Experience */
.experience {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 75%;
    margin: auto;
    background-color: #1e1e21;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.experience img {
    width: 10%;
    height: auto;
}

.job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: whitesmoke;
}

.job-title .position {
    text-align: left;
    font-weight: bold;
}

.job-title .dates {
    text-align: right;
    font-style: normal;
    font-weight: normal;
    color: whitesmoke;
}



/* Contact */
.contact {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    width: 75%;
    margin: auto;
    background-color: #1e1e21;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.contact img {
    width: 25%;
    height: auto;
}

.method {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: calc(100% - 0.5rem);
    gap: 0.5rem;
}



/* Footer */
.footer {
    font-size: 1rem;
    background-color: #1e1e21;
    text-align: center;
}

.footer a {
    color: #a188d8;
}



/* Resume Button */
.button {
    background-color: #a188d8;
    border: none;
    border-radius: 1rem;
    color: whitesmoke;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
}

.button:hover {
    background-color: #675a84;
    color: whitesmoke;
}



/* Centering the button */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media Queries */
@media (min-width: 768px) { /* Tablet */
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1.2rem;
    }

    .nav-links {
        font-size: 1.5rem;
    }

    .logo {
        font-size: 2rem;
        text-align: left;
    }

    .about img {
        width: 35%;
        height: auto;
    }

    .homeSubtitle {
        font-size: 1.5rem;
    }

    .homeTitle {
        font-size: 5rem;
    }

    .socials {
        width: 40%;
    }

    .project {
        width: calc(50% - 1rem);
    }
    
    .method {
        width: calc(40% - 0.5rem);
    }
}

@media (min-width: 1024px) { /* Laptop */
    .method {
        width: calc(15% - 0.5rem);
    }
}



/* Miscellaneous */
body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
